* {
    box-sizing: border-box; /* Boxgröße wird auf Border begrenzt, gilt für alle Boxes*/
    
}

html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

::selection { /*Markierter Text wird beige mit schwarzem Hintergrund hervorgehoben
    :: kann nur font Eigenschaften ändern, keine Funktionen*/
    background-color: black;
    color: beige;
}

#prof-sub-head::after {
    content: " 🧙‍♂️" /*Windows-Taste + . für Emojis*/
}

h1, h2, h3, h4, h5, h6, h7 {
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    position: relative;
    left: 10px;
    }

nav a {
    margin-left: 50px; 

}

a:link {
color: green;
}

a:hover {
background-color: aqua;
}

a:active {
background-color: red;
}

body {
    margin: 0px;
    background-color: lemonchiffon;
}

main {
    max-width: 800px;
    margin: 0 auto; /*Das auto zentriert main in der Mitte*/ 
}

.padd1 {
    padding: 40px;
        /*border: 1px solid red;*/
}



body > header { /*nur header, der direktes child vom body ist*/
    text-align: center;
    background-color: rgb(255, 187, 0);
    position: sticky; /*bleibt dank top: 0px immer am oberen Rand stehen*/
    top: 0px;
    z-index: 10;
}
#hire{
    position: absolute;
    _border: 5px solid rgb(252, 38, 0);
    border-radius: 2mm;
    padding: 1rem;
    background-color: lawngreen;
    position: absolute;
    top: 50px;
    right: 200px;
    display: inline-block;

}

#profile {
    _border: 5px solid green;
    _position: static;
    _padding-top: 100px;
    }

main > article, footer > article {
    margin-top: 50px;
    padding: 20px;
}

article + article { /*Eule, setzt grünen Streifen nur zwischen die aufeinanderfolgenden Artikel, nicht über den ersten*/
    border-top: 5px solid green;
}

#experiences h2 {
    display: inline-block;
}

#experiences h3 {
    display: inline-block;
}

footer{
    max-width: 800px;
    margin: 0 auto;
}

#contact  { 
    background-color: lightgray;
    padding: 2rem;
    
    /*padding: 10px; So kriege ich horizantalen Abstand hin, wenn die Links untereinander stehen?*/
}