* {
    box-sizing: border-box; /* Boxgröße wird auf Border begrenzt, gilt für alle Boxes*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0px;
    background-color: lemonchiffon;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

.padd1 {
    padding: 16px;
}

nav a {
        margin-left: 50px; /* Wie kriege ich horizantalen Abstand hin, wenn die Links untereinander stehen?*/
    
}

a:link {
    color: green;
}

a:hover {
    background-color: aqua;
}

a:active {
    background-color: red;
}

#mainHeader {
    text-align: center;
    background-color: rgb(255, 187, 0);
}

main > article {
    margin-top: 50px;
}

article + article {
    border-top: 5px solid green;
}